@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: Poppins;
    margin: 0;
    background-color: #010101;
    color: #eee;
}
svg{
    width: 25px;
}
/* NAV */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  
  .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    z-index: -1;
  }
  
  .header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(90, 90, 90, 0.4), transparent);
    transition: .5s;
  }
  
  .header:hover::after {
    left: 100%;
  }
  
  .logo {
    font-family: Poppins;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
  }
  
  .navbar a {
    font-family: Poppins;
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
  }
  
  .navbar a:hover{
    color: #142ec0;
  }
  
  #check {
    display: none;
  }
  
  
  .icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
  }
  
  /* End NAV */
  
  /* Breakpoints */
  
  @media (max-width:992px) {
    .header {
      padding: 1.3rem 5%;
    }
  }
  
  @media (max-width:768px) {
    .icons {
      display: inline-flex;
    }
  
    #check:checked~.icons #menu-icon {
      display: none;
    }
  
    .icons #close-icon {
      display: none;
    }
    #check:checked~.icons #close-icon {
      display: block;
    }
  
    .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0;
      background: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(50px);
      -webkit-backdrop-filter: blur(50px);
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: .3s ease;
    }
  
    #check:checked~.navbar {
      height: 12.2rem;
    }
  
    .navbar a {
      display: block;
      font-size: 1.15rem;
      margin: 1.5rem 0;
      text-align: center;
      transform: translateY(-50px);
      opacity: 0;
      transition: .3s ease;
    }
  
    #check:checked~.navbar a {
      transform: translateY(0);
      opacity: 1;
      transition-delay: calc(.15s * var(--i));
    }
  }
  
  /* Emd Breakpoints */
  
/* css slider */
.slider {
    height: 100vh;
    margin-top: -50px;
    position: relative;
    font-family: "Silkscreen", sans-serif;
}

.slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: -webkit-linear-gradient(to top, #000 40%, transparent); /* WebKit prefix */
    background-image: linear-gradient(to top, #000 40%, transparent);
}

.slider .list .item .content {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}

.slider .list .item .content p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider .list .item .content h2 {
    font-size: 100px;
    margin: 0;
}

.slider .list .item.active {
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
    transform: translateY(30px);
    -webkit-filter: blur(20px); /* WebKit prefix */
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}

.slider .list .item.active h2 {
    animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3) {
    animation-duration: 1.3s;
}

.arrows {
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}

.arrows button {
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}

.arrows button:hover {
    background-color: #eee;
    color: black;
}

.thumbnail {
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}

.thumbnail::-webkit-scrollbar {
    width: 0;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    -webkit-filter: brightness(.5); /* WebKit prefix */
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail .item.active {
    -webkit-filter: brightness(1.5); /* WebKit prefix */
    filter: brightness(1.5);
}

.thumbnail .item .content {
    position: absolute;
    inset: auto 10px 10px 10px;
}

@media screen and (max-width: 678px) {
    .thumbnail {
        justify-content: start;
    }

    .slider .list .item .content h2 {
        font-size: 50px;
    }

    .arrows {
        top: 9%;
        left: 50%;
    }
}

k {
  color: #142ec0;
}
